n8n/dental-automation-v1.json
{ "nodes": [ { "parameters": { "httpMethod": "POST", "path": "missed-call-webhook", "options": {} }, "name": "Webhook: Missed Call", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [100, 200] }, { "parameters": { "resource": "message", "from": "whatsapp:+123456789", "to": "={{$json.body.From}}", "message": "Hi! We noticed we missed your call. Would you like to book an appointment or ask a question? I'm our AI assistant and can help you right now!" }, "name": "WhatsApp: Auto-Reply", "type": "n8n-nodes-base.twilio", "typeVersion": 1, "position": [350, 200] }, { "parameters": { "agent": "conversational", "prompt": "=Help the patient book a slot. Available slots are in the calendar tool. Patient phone: {{$json.body.From}}", "options": {} }, "name": "AI Booking Assistant", "type": "n8n-nodes-base.aiAgent", "typeVersion": 1, "position": [600, 200] }, { "parameters": { "pollTimes": { "item": [{"mode": "everyHour"}] }, "resource": "event", "operation": "getAll", "calendar": "primary", "filters": { "timeMin": "={{$now.minus({hours: 1}).toISO()}}", "timeMax": "={{$now.toISO()}}" } }, "name": "Cron: Review Request", "type": "n8n-nodes-base.googleCalendar", "typeVersion": 1, "position": [100, 450] } ], "connections": { "Webhook: Missed Call": { "main": [[{ "node": "WhatsApp: Auto-Reply", "type": "main", "index": 0 }]] }, "WhatsApp: Auto-Reply": { "main": [[{ "node": "AI Booking Assistant", "type": "main", "index": 0 }]] } } }